// $primary: #c80a14;
// $primary: #fed700;
// $body-bg: #fed700;
// $secondary: #c80a14;

@import "~bootstrap/scss/bootstrap";

.center {
    height: 100vh;
}

.signupinput {
  width: 45px;
  height: 45px;
  padding: 0;
  font-size: 24px;
  text-align: center;
  margin-right: 8px;
  text-transform: uppercase;
  // color: ;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background-clip: padding-box;
}
